body {
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: comfortaa;
    font-size: 50px;
}
.main {
    text-align: center;
}
#name-input {
    width: 500px;
    height: 45px;
}
#output {
    margin-top: 80px;
   
}

.created {
  margin-top: 100px;
  font-size: 13px;
  text-align: center;
}
